body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* width: min(100%, 50rem);
  aspect-ratio: 1 / 1; */
  /* border: 1px solid #000; */
}

.square {
  width: 6.25%;
  aspect-ratio: 1 / 1;
  border: 1px solid #000;
}
